.member-list{
    /*display: inline-block;*/

}
.log-in-button {
    max-width: 50%;
}
.button-container {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.56) !important;
}

body {
    background-image: url(/images/background.jpg);
    background-size: cover;
}
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.full-div {
    height: inherit;
    width: inherit;
}

.chats-container{
    height: 90%;
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.round-avatar{
    border-radius: 50%;
    margin-bottom: -5px;
    margin-right: 5px;
}

.group-icon {
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: -5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-left: 3px;
    background-color: lightslategray;
}

.background-coloured {
    background-color: white;
}

.search-icon{
    margin-top: 12px;
}